* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --ball-size: 30px;
  --ball-margin: 5px;
  --gray: #797d80;
  --bg-color: #ced3d9;
  --border: 2px solid var(--gray);
  --spacing: 15px;
}

body {
  margin: 0;
  height: 100vh;
  min-height: max-content;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  border: 3px solid var(--gray);
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-row, .answer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.main-row {
  width: max-content;
}

.answer-row {
  width: 100%;
  border-bottom: var(--border);
}

.main-ball, .color-ball {
  width: var(--ball-size);
  height: var(--ball-size);
  border-radius: 50%;
  margin: var(--ball-margin);
}

.main-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 20px;
}

.color-ball {
  cursor: pointer;
}

.checker-ball {
  width: calc(var(--ball-size) / 2.5);
  height: calc(var(--ball-size) / 2.5);
  border-radius: 50%;
  margin: 0 4px;
}

.checker-row {
  display: flex;
  justify-content: space-evenly
}

.checker-container-grid, .checker-container-flex {
  height: calc(var(--ball-size) + var(--ball-margin) * 2);
  border-left: var(--border);
}

.checker-container-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

.checker-container-flex {
  display: flex;
  align-items: center;
}

.color-row {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8bcbf;
}

.color-container {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing) 0;
  border-top: var(--border);
}

.info {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--spacing);
  font-size: 15px;
}

input {
  width: 20px;
  height: 20px;
}

select {
  margin-left: 10px;
  width: max-content;
  height: 25px;
  text-align: center;
  border-radius: 7.5px;
  font-size: 15px;
}

button {
  width: max-content;
  height: 25px;
  padding: 0 5px;
  font-size: 15px;
}

.button-container {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-evenly;
  padding-bottom: var(--ball-margin);
}